<h3 style="text-align: center;"><%= t("general.send_cv_and_invite_to_user") %></h3>
<div class="loginfom frontform">
  <%= form_for(@user, :url => invite_path) do |f| %>

    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email, :class => "input-xlarge" %>
    </div>
  
    <div class="button">
      
      <%= f.button t("general.send"), :class => 'btn btn-info', :id => "invite_btn" %>      
      <%= link_to t("general.back"), feedbacks_path, :class => 'btn btn-info' %>
      <span id="spinner" style="margin-right: 235px; float: right; display: none;">
        <%= image_tag "loading.gif" %>
      </span>  
    </div>
    <div class="cl"></div>
  <% end %>
</div>